section {
  margin: 0;
}
.card {
  background-color: #676767;
  height: 12rem;
}
input {
  background-color: #c4c4c4;
  border-radius: 15px;
  padding-bottom: 8px;
}

button {
  border-radius: 20px;
  font-weight: bold;
  background-color: #fed02f;
}
