<section class="row justify-content-center">
  <div class="w-100">
    <h2 class="text-white text-left ml-5 pl-5 mb-5">Editar Jogo</h2>
  </div>
<div class="card col-8">
  <form [formGroup]="formTwo">
    <div class="input-group d-flex justify-content-around mt-5">
      <div class="col-5 mb-4">
        <input type="text" class="form-control" placeholder="Digite o título antigo do jogo" formControlName="title" required>
      </div>
      <div class="col-5 mb-4">
        <input type="text" class="form-control" placeholder="Digite o novo título do jogo"  formControlName="newTitle" required>
      </div>
      <div class="col-3 mb-4 ml-4">
        <input type="text" class="form-control" placeholder="Digite o gênero do jogo" formControlName="genre" required>
      </div>
      <div class="col-4 ">
        <input type="number" class="form-control" placeholder="Digite a classificação do jogo" formControlName="rating" required>
      </div>
      <div class="col-4 row justify-content-center">
        <div class="col-5 ">
          <button class="btn btn-warning" (click)="editGame()" [disabled]="formTwo.invalid">ENVIAR</button>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
